@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  height: 60px;
  background-color: #101111;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.navbar :hover {
  cursor: pointer;
  color: #d58618;
}

.nav-logo {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 50px;
  width: 100%;
}

.logo img:hover {
  cursor: pointer;
}

.border {
  border: 1px solid transparent;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 5px;
}

.border:hover {
  border: 1px solid white;
}

.add-first {
  color: #c9c9c9;
  font-size: 13.6px;
  margin-left: 3px;
}

.add-second {
  font-size: 16px;
  margin-left: 3px;
}

.add-icon {
  display: flex;
  align-items: center;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 4px;
  margin-top: 10px;
}

.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
  width: 130px;
  height: 40px;
}

.search-input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  text-indent: 5px;
  /* yazının gırdısını uzaklaştırır */
}

.search-icon {
  width: 45px;
  background-color: #fabd68;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-icon:hover {
  cursor: pointer;
}

.nav-search:hover {
  border: 2px solid #fabd68;
}

.span {
  font-size: 11px;
  font-weight: 700;
}

.nav-cart i {
  font-size: 30px;
}

.nav-cart {
  font-size: 13.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.panel {
  background-color: #222f3d;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.panel-ops {
  width: 70%;
}

.panel-ops p {
  display: inline-flex;
  height: 40px;
  padding: 0 3px;
  margin-left: 15px;
}

.panel-deals {
  font-size: 15px;
  font-weight: 700;
  padding: 0 3px;
}

/* hero section */

.hero-section {
  background-image: url(images/sonradan.jpg);
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: rgb(98, 96, 96);
  color: #fabd68;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 25px;
  font-size: 14px;
  border-radius: 10px;
}

.hero-msg a {
  color: #d58618;
  margin-left: 30px;
}
.hero-msg a:hover {
  color: wheat;
  cursor: pointer;
}
/* shop */

.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 420px;
  width: 23%;
  background-color: white;
  padding: 20px 15px;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.box-img {
  background-size: cover;
  height: 300px;
  margin: 16px 0;
  border-radius: 5px;
}
.box-img:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}

.box-content {
  margin-left: 16px;
  margin-right: 16px;
  /* marjin: 0 16px; */
}
.box-title {
  display: flex;
  justify-content: space-between;
}
.box-content h2:hover {
  text-shadow: 0 0 40px yellow, 0 0 20px;
  transition: 0.3s;
  cursor: pointer;
}

.box p {
  color: #2680bc;
}
.box p:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
.button {
  background-color: #6e7b8d;
  color: #eeb001;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #eeb001;
  color: #6e7b8d;
}

.container {
  background: #d9d7d7;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  /* padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px; */
}
.title a {
  color: #6ca6b3;
  /* text-decoration: none; */
}
.title a:hover {
  text-decoration: underline;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
.box1 {
  height: 350px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.boxes-content {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  margin: 5px 0;
  /* border: 1px solid red; */
}
.image img {
  height: 250px;
  width: 100%;
  transition: transform 0.9s ease;
}
.image img:hover {
  transform: rotate(360deg);
  cursor: pointer;
}
.box1-content p span {
  font-size: 15px;
  background-color: #cc0a39;
  color: white;
  margin-right: 6px;
}
.btn {
  background-color: #6e7b8d;
  color: #eeb001;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #eeb001;
  color: #6e7b8d;
}
/* footer */
footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #485769;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.foot-panel1 a {
  color: #eeb001;
  text-decoration: underline;
  font-size: 20px;
}
.foot-panel1 a:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
  cursor: pointer;
}
.foot-panel2 {
  background-color: #232f3e;
  color: wheat;
  height: 220px;
  display: flex;
  justify-content: space-between;
}
.foot-panel2 ul {
  margin-top: 20px;
}
.foot-panel2 p {
  font-size: 18px;
}
.foot-panel2 a {
  display: block;
  font-size: 13px;
  color: #dddddd;
  margin-top: 10px;
}
.foot-panel2 a:hover {
  color: #fabd69;
  transition: color 0.3s ease-in-out;
}
.foot-panel3 {
  background-color: #222f3d;
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid white;
  align-items: center;
}
.foot-panel3 .logo {
  margin: auto;
  margin-top: 10px;
  width: 100px;
  height: 50px;
}
.foot-panel3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.foot-panel3 ul a {
  color: wheat;
  font-size: 13px;
}
.foot-panel3 ul a:hover {
  text-decoration: underline;
}
.foot-panel4 {
  background-color: #121a22;
  color: #dddd;
  height: 80px;
  font-size: 12px;
  text-align: center;
}
.pages {
  padding-top: 25px;
}
.pages a {
  color: #999999;
  margin-left: 10px;
}
.pages a:hover {
  text-decoration: underline;
  color: wheat;
}
.copyright {
  padding-top: 10px;
}
